@charset "utf-8";
/* CSS Document */
body{ background-image:url(images/gelules.jpg); background-attachment:fixed}
.login {
	padding: 5px;
	height: 25px;
	width: 240px;
	border: 1px solid #CCC;
	border-radius:10px
}

.submit {
	padding: 5px;
	height: 40px;
	width: 250px;
	border: 1px solid #CCC;
	border-radius:10px; background-color: #393; color:#FFF; font-size:16px
}
.submit2 {
	padding: 5px;
	height: 35px;
	width: 80px;
	border: 1px solid #CCC;
	border-radius:10px; background-color: #393; color:#FFF; font-size:16px; border-radius:10px
}
.select{
	padding: 5px;
	height: 35px;
	width: 100px;
	border: 1px solid #CCC;
	
}
.container { background-color:#FFF;
	height: 850px;
	width: 900px;
	border: thin solid #999;
	margin:auto;
	-moz-box-shadow: 5px 5px 5px 0px #656565;
-webkit-box-shadow: 5px 5px 5px 0px #656565;
-o-box-shadow: 5px 5px 5px 0px #656565;
box-shadow: 5px 5px 5px 0px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
	float: none;
}
.menu {
	background-color: #393;
	height: 50px;
	width: 900px;
	float: left;
}

.logo {
	background-color: #FFF;
	background-image: url(images/logo-NPSP.png);
	height: 100px;
	width: 150px;
	position: absolute;
	z-index: 900;
	clip: rect(auto,auto,auto,auto);
	margin-left: 40px;
}
.menu1 {
	font-family: "Century Gothic", Century, "Century Schoolbook";
	color: #FFF;
	height: 30px;
	width: 800px;
	text-decoration: none;
	list-style-type: none; margin-left:200px

}
.smenu {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:150px;
	height:30px;
	display:block;
	float:left;
	border-radius:10px;
	color: #390;
	padding:3px;
	margin-top:-12px;
	font-size:15px;
	text-align:center;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #FFF;
	border-left-color: #FFF;
}

.smenu a {	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; color:#FFF; text-decoration:none}
.smenu a:hover {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; color: #FC0;}

.leftside {
	float: left;
	height: 600px;
	width: 200px;
	border: thin solid #CCC;
	margin: 10px; margin-top:90px
}
.rightside {
	float: left;
	height: 750px;
	width: 600px;
	margin: 10px; margin-top:20px;
}
.clientname {
	background-color: #FFDCB9;
	padding: 3px;
	float: left;
	height: auto;
	width: 595px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	color: #333;
}
.texteclient {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
	padding: 10px;
	float: left;
	margin-top: 10px;
	width: 580px;
	text-align: justify;
}
.info {
	padding: 5px;
	float: left;
	width: 590px;
	margin-top: 10px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
}
.infoimg {
	float: left;
	height: 100px;
	width: 150px;
}
.infotexte {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	padding: 5px;
	float: left;
	width: 430px;
}

.table{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	padding: 5px;
	width: 580px; border:solid #999 1px
}