

.list-group{
    
    height: 970px;
    overflow: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.list-group::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.list-group {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}