

#carousel {
      position: relative;
      width:90%;
      margin:0 auto;
      margin-top: -30px;
      }
      
      #slides {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 30px;
      }
      
      #slides ul {
      list-style: none;
      width:100%;
      height:30px;
      margin: 0;
      padding: 0;
      position: relative;
      }
      
       #slides li {
      width:100%;
      height:30px;
      float:left;
      text-align: center;
      position: relative;
      font-family:lato, sans-serif;
      }
      /* Styling for prev and next buttons */
      .btn-bar{
          max-width: 346px;
          margin: 0 auto;
          display: block;
          position: relative;
          top: 40px;
          width: 100%;
      }
      
       #buttons {
      padding:0 0 5px 0;
      float:right;
      }
      
      #buttons a {
      text-align:center;
      display:block;
      font-size:10px;
      float:left;
      outline:0;
      margin:0 60px;
      color:#b14943;
      text-decoration:none;
      display:block;
      padding:9px;
      width:35px;
      }
      
      a#prev:hover, a#next:hover {
      color:#FFF;
      text-shadow:.5px 0px #b14943;  
      }
      
      .quote-phrase, .quote-author {
      font-family:sans-serif;
      font-weight:100;
      display: table-cell;
      vertical-align: middle;
      padding: 5px 20px;
      font-family:'Lato', Calibri, Arial, sans-serif;
      }
      
      .quote-phrase {
      height: 20px;
      font-size:12px;
      color:#FFF;
      font-style:italic;
      }
      
      .quote-marks {
      font-size:12px;
      padding:0 3px 3px;
      position:inherit;
      }
      
      .quote-author {
      font-style:normal;
      font-size:20px;
      color:#b14943;
      font-weight:400;
      height: 30px;
      }
      
      .quoteContainer, .authorContainer {
      display: table;
      width: 100%;
      }