@charset "utf-8";
/* CSS Document */

body{background-image:url(images/background-gradient.jpg); background-repeat: repeat-x; font-family:"Century Gothic", Century, "Century Schoolbook"; background-attachment:fixed}
.container {
	height: 800px;
	width: 900px;
	border: thin solid #999;
	margin:auto; border-radius: 30px
}
.leftside {
	float: left;
	height: 750px;
	width: 230px;
	border: thin solid #CCC;
	margin: 10px; margin-top:20px
}
.rightside {
	float: left;
	height: 750px;
	width: 600px;
	margin: 10px; margin-top:20px;
}
.logo {
	float: left;
	height: 122px;
	width: 180px;
	margin-bottom: 10px;
}
.menu {
	float: left;
	height: auto;
	width: 230px;
	margin-bottom: 20px;
	list-style-type: none;
	font-size:15px
}
 ul, ol{list-style-type: none; text-decoration:none; color:#333}
.menu1{ width:200px; height:auto; padding:10px}
.smenu{ width:200px; height:20px; display:block; background-image:url(images/form-log.png); float:left; border-radius:10px; color:#FFF; padding:5px}
.smenu:hover{ width:200px; height:20px; display:block; background-image:url(images/form-log-orange.png); float:left; border-radius:10px; color:#FFF; padding:5px}
.smenu a{ text-decoration:none; color:#FFF}
.pub {
	float: left;
	height: auto;
	width: 200px;
	margin-bottom: 10px;
	border: thin solid #CCC;
	margin-left: 10px;
	background-color: #CCC;
}
.clientname {
	background-color: #FFDCB9;
	padding: 3px;
	float: left;
	height: auto;
	width: 595px;
	font-family: "Century Gothic", Century, "Century Schoolbook";
	font-size: 14px;
	font-style: italic;
	color: #333;
}
.texteclient {
	font-family: "Century Gothic", Century, "Century Schoolbook";
	font-size: 14px;
	color: #333;
	padding: 10px;
	float: left;
	margin-top: 10px;
	width: 580px;
	text-align: justify;
}
.info {
	padding: 5px;
	float: left;
	width: 590px;
	margin-top: 10px;
	font-family: "Century Gothic", Century, "Century Schoolbook";
	font-size: 12px;
	color: #333;
}
.infoimg {
	float: left;
	height: 100px;
	width: 150px;
}
.infotexte {
	font-family: "Century Gothic", Century, "Century Schoolbook";
	font-size: 12px;
	color: #333;
	padding: 5px;
	float: left;
	width: 430px;
}
