body {
    padding-top: 79px;
}

/* ++++++++++++++
    PARSLEY CSS
 ++++++++++++++++
 */
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

.parsley-errors-list {
    margin: 5px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;
    color: darkred;
    text-transform: uppercase;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}

/* ++++++++++++++
    END PARSLEY CSS
 ++++++++++++++++
 */
#addMail {
    margin-top: -8px;
    margin-right: 0;
}

#information {
    padding: 15px;
    margin-bottom: 21px;
    border: 1px solid transparent;
    border-radius: 0;
    background-color: #5cb85c;
}
#content{
    color: #000;
}
.size{
    font-size: 200px;
}
.quote{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.status-media {
    border: 1px solid #e3e3e3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #FFFFFF;
    color:black ;
    padding: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    overflow: hidden;
    word-break: break-all;
    -ms-word-break: break-all;
    -moz-word-break: break-all;
    -o-word-break: break-all;
    -word-break: break-all;

}