/* ***
 *
 * CSS
 *
 */
 
 a:hover {text-decoration: none; color:#009933;}
 a{color: #333;}
 .inner-img img {width:100%}
  
 
 .surheader {background:#009933;}
 .form-email {padding: 5px 5px 3px 5px;}
 .form-email label {color:#fff;}
 .form-email button {background:#fff; color:#009933;}
 
 .header {background:url('../images/MEDECIN_insertion_web.jpg')repeat-x right top;}
 .header .logo-img {display: inline-block; margin: 2% 0 6% 0;}
 
 .menu {background: url('../images/fond-menu.png') repeat;}
 .menu ul {color: #009933; margin-bottom: 0px;}
 .menu li {font-size: 1.25em; height:40px; padding-top: 6px; text-align:center;}
 .menu li a {color:#009933;}
 .menu li a:hover, .menu .active a {border-bottom: 1px solid #f7ab37; text-decoration:none; color:#009933;}
 
 .flash {height:25px; margin-top:2px; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;}
 .flash-title {display: inline-block; background:url('../images/fond_flash_info.png'); height:100%; color:#fff; font-style: italic; padding-top: 2px; text-align: center;}
 .flash-info {padding-left:5px; height: 25px;}
 
 .main-content {margin-top: 10px;}
 .main-content #yw0 {padding-top:48%}
 .main-content #yw0 img{width:100% !important; height:auto !important}
 .main-content h1 {background: url('../images/main-title-bg.png') repeat-x center left;}
 .main-content h1 .inner-img {display: inline-block; border-right: 6px solid #ff6600; background: #fff; padding-right:.5em;}
 .main-content .article-content p img {margin: .5em 1em .5em .5em;}
 .main-content .article-content {padding-bottom: 2em;}
 .main-content aside {margin-bottom: 1em;}
 .main-content .main-img {padding:5px; border: 1px solid #ccc; box-shadow: 3px 3px 5px #ccc; -moz-box-shadow: 3px 3px 5px #ccc; -webkit-box-shadow: 3px 3px 5px #ccc; box-shadow: 3px 3px 5px #ccc;}
 .main-content h3 {font-weight: bold; font-size: 1.5em; margin-bottom: 1em;}
 .main-content h3.big {font-weight: normal; font-size: 2em; margin-bottom: 1em;}
 .main-content .autor {text-align: right; display: block; font-weight: bold; padding-right: 1em; padding-top: 1em;}
 .main-content .thumbnail {border: 2px solid #016734; border-radius: 0px; }
 .main-content a.thumbnail:hover {border-color: #ff9900}
 
 .contact h1{background:none; font-size: 1.5em; font-weight: bold; padding-bottom: 5px; border-bottom: 3px solid #009933;}
 .contact .address {color: #009933; font-weight: bold; border-bottom: 3px solid #009933; padding-bottom: 20px; line-height:1.75em;}
 .contact .address a, .contact .address a:hover {color:#009933;}
 .contact .direction {color: #ff9900; font-weight: bold; padding-bottom: 20px; padding-top:20px; line-height:1.75em;}
 .contact .direction a, .contact .direction a:hover {color:#ff9900;}
 .contact .inner-img {padding-top: 2em; padding-bottom: 2em; text-align: center; display:none;}
 .contact .inner-img img {border: 6px solid #009933;}
 
 .pagination-content li {padding: 0;}
 .pagination-nav {text-align: center; padding-bottom:20px; padding-top: 10px;}
 .pagination-nav .page {display: inline-block; background: #ff9900; font-size:100%;}
 .pagination-nav a:hover {text-decoration: none; color:#009933;}
 
 .publicationAll .pagination-content li a>span {text-align: center;}
 .publicationAll .pagination-content li a>span img{width: auto;}
 
 
ul.yiiPager {font-size:13px;border:0;margin:0;padding:0;line-height:100%;display:inline;}
ul.yiiPager li{display: inline-block; background: #ff9900; font-size:100%;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: .25em;padding: .2em .3em .3em;line-height: 1;}
ul.yiiPager a:link,ul.yiiPager a:visited{font-weight:bold;color:#fff;text-decoration:none;}
ul.yiiPager .page a{font-weight:normal; color: #fff;}
ul.yiiPager a:hover{text-decoration: none; color:#009933;}
ul.yiiPager .selected a{color:#009933;font-weight:bold;}
ul.yiiPager .hidden a{border:solid 1px #bababa;color:#888888;}



 .label-title {display: block; background: #ff9900; text-align: left; font-size: 1.75em; font-weight: normal; padding: .2em .8em .3em; margin-top:0;}
 
 .presentations-list a {color:#999; font-weight:bold; font-style:italic; font-size: 1.3em; display:block; text-align:center;}
 .presentations-list a:hover, .news-list li:hover a {color: #009933;}
 .presentations-list li {padding: 10px 15px; border-bottom: 1px solid #ccc;}

 
 .photos-list li {padding: 10px 15px; border-bottom: 1px solid #ccc;}
 .photos-list li:hover a, .publication li a:hover {color:#009933; text-decoration: none;}
 .photos-list a {color:#333; font-style:italic; font-size: 1.2em; display:table;}
 .photos-list .thumb {display:table-cell;}
 .photos-list .thumb+span {display: table-cell; text-align: center; padding-left: 1em; vertical-align: middle; width:100%;}
 
 
 .videos-list a {color:#999; font-weight:bold; font-style:italic; font-size: 1.3em; display:table;}
 .videos-list a:hover, .news-list li:hover a {color: #009933;}
 .videos-list li {padding: 10px 15px; border-bottom: 1px solid #ccc;}
 .videos-list .thumb {max-width:85px;}
 .videos-list span {display: table-cell;}
 .videos-list span+span {vertical-align: top; padding-left: 10px;}
 .videos-list span small{font-size: 0.65em; font-weight: normal;}
 
 .news-list a {color:#999; font-weight:bold; font-style:italic; font-size: 1.3em; display:table;}
 .news-list a:hover, .news-list li:hover a {color: #009933;}
 .news-list li {padding: 10px 15px; border-bottom: 1px solid #ccc;}
 .news-list .thumb {max-width:85px;}
  .news-list .thumb img {max-width:85px;}
 .news-list span {display: table-cell;}
 .news-list span+span {vertical-align: top; padding-left: 10px;}
 .news-list span small{font-size: 0.65em; font-weight: normal;}
 
 .publication li {padding: 10px 15px; border-bottom: 1px solid #ccc;}
 .publication li:hover a, .publication li a:hover {color:#009933; text-decoration: none;}
 .publication a {color:#999; font-weight:bold; font-style:italic; font-size: 1.3em; display:table;}
 .publication .picto-doc {display:table-cell;}
 .publication .picto-doc+span {display: table-cell; text-align: center; padding-left: 1em; vertical-align: middle; width:100%;}
 
 .form-survey {border: 1px solid #999; border-top: none; top: -14px; position: relative; padding-top:20px; padding-bottom: 30px; text-align: center;}
 .form-survey p {color:#999; font-size: 1.2em; font-style: italic;}
 .form-survey label{color:#666;margin-right: 1em;}
 
 .video-aside-content {border: 1px solid #999; border-top: none; top: -14px; position: relative; padding: 23px 20px 20px 20px; text-align: center;}

 
 .contact-us .contact-form {margin-top:1em;}
 .contact-form label {text-align: right; font-weight: normal;}
 .contact-form .btn {background: url('../images/bouton-contact.png') center; color: #fff; font-style: italic; padding-left: 2em; padding-right: 2em;}
 
 .news {margin-top:20px;}
 .news li a, .pagination-content li a {padding-bottom: .75em; padding-top: 1em; border-bottom: 1px solid #ccc; /*for xs*/ display:table;}
 .news li a>span, .pagination-content li a>span{ border: 5px solid #ccc; /*for xs*/ display:table-cell; /*max-width: 181px;*/}
 .news li a>span img, .pagination-content li a>span img {width:100%}
 .news li p, .pagination-content li p {background: url('../images/fond-gris-degrade.png') no-repeat left bottom; padding: 5px 10px 10px 10px; /*for xs*/ display:table-cell; background-repeat-x:inherit; width:75%; vertical-align:middle;}
 
 .multimedia {margin-top: 20px;}
 .multimedia-inner {margin-top:1em;}
 .multimedia .videos-container, .multimedia .photos-container {position:relative; border: 2px solid #016734; padding: 1.5em 1em .5em 1em; text-align: center; margin-bottom:2em;}
 .multimedia .cartridge {display: inline-block; position: absolute; background: #016734; padding: 0.1em 1.5em; color: #fff; top: -10px; left: -20px;}
 .multimedia .photos-container img {border:1px solid #ccc; width:32%;margin-right: 10px;}
 
 .partner {margin-top:20px;}
 .partner .carousel {border-bottom: 1px solid #cdcdcd; border-top: 1px solid #cdcdcd;}
 .partner .carousel-inner {width:90%; text-align:center; margin-left:auto; margin-right:auto;}
 .partner .item .inner-img {width: 20%; display: inline-block; margin-left: 5%; margin-right: 5%; padding:5px; vertical-align: middle;}
 .carousel-control.left,.carousel-control.right {background-image:none; background:#ccc; opacity:1; width:10%; font-size: 30px;}
 .carousel-control.left .glyphicon-chevron-left,.carousel-control.right .glyphicon-chevron-right {margin-top: -15px;}
 .carousel-control.left .glyphicon-chevron-left {margin-left: -15px;}
 .carousel-control.right .glyphicon-chevron-right {margin-right: -15px;}
 .carousel-inner .active.left { left:-30%; }
 .carousel-inner .next        { left:30%; }
 .carousel-inner .active.right { left:30%; }
 .carousel-inner .prev        { left:-30%; }
 
 .footer {text-align:center;margin-top:20px; padding-bottom:1em;}
 .footer p {border-top: 1px solid #ff9900; padding-top: 10px; font-style: italic;}
 
 
 @media screen and (min-width:768px){
  .contact .inner-img {display: block;}
 
  .publication .picto-doc+span {text-align:left;}
  
  .multimedia .photos-container img {margin:0 1em; width:auto; max-width:195px;}
 }
 
 
 @media screen and (min-width:992px){
  
  .news li a, .pagination-content li a{display:inline-block; border-bottom:none; padding:0 5px;}
  .news li a>span, .pagination-content li a>span {display:block; width:100%;}
  .news li p, .pagination-content li p {display: block; width: auto;}
  .news li a>span img, .pagination-content li a>span img  {width:100%}
 
  .multimedia .photos-container img {margin:0; max-width: 163px;}
  
  
  .partner .item .inner-img {width: 15%; padding: 10px;}
  .carousel-control.left,.carousel-control.right {width:5%;}
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .next        { left:  25%; }
  .carousel-inner .active.right { left: 25%; }
  .carousel-inner .prev        { left:  -25%; }
 }

 

 